@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, 
.body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://source.unsplash.com/1600x900/?abstract,blur') no-repeat center center/cover;
  font-family: Arial, sans-serif;
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.text-center{
    text-align: center;
  }
  
  .bg-grey{
    background: grey;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }
  .calculator {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid black;
    z-index: 2;
  }
